<div class="jumbotron">
  <h1 class="display-3" >Welcome to Recipe Hunt</h1><br>
  <p class="lead">
    Recipe Hunt is a collection of Lip smaking, delicious recipes from all around the world.<br>
    Here you can surf through various type of recipes and also handle ingredients to your liking.<br>
    You can also make and add new Recipes to our ever expanding Recipe collection.  
  </p>
  <hr class="my-4">
  <!-- <p><b>Note:</b> Please first SignIn in order to access our Recipe Collection</p> -->
  <a class="btn btn-warning btn-lg guide" routerLink="/auth" role="button">Login</a>
</div>

<!-- <div *ngIf="showAlert">   
  <div class="backdrop" (click)="onClose()"></div>
  <div class="alert-box">
    <h4><b>Authenticate :</b></h4>
    <p>Go to <b>Authenticate Tab</b> -> <b>SignIn/SignUp</b> to Proceed.</p><br>
    <h4><b>Load Recipe:</b></h4>
    <p>After Authentication go to <b>Manage Tab</b> -> <b>Fetch Data</b> to load Recipes onto page.</p>
    <div class="alert-box-actions">
      <button class="btn btn-primary" (click)="onClose()">Close</button>
    </div>
  </div>
</div> -->