a {
    background-color:rgb(252, 237, 195);
    color:rgb(126, 94, 34);
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #A58D62;
    background-color: rgb(252, 192, 13);
    border-color: #FFCB2B;
}

h4, p {
    color:rgb(126, 94, 34);
}

.list-group-item.active .list-group-item-text, .list-group-item.active .list-group-item-heading{
    color:rgb(117, 79, 8);
}

.img-responsive {
    max-height: 50px; 
    width: 90px;
    border-radius: 3px;
}